@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0 ;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

header {
    background-color: black;
    padding: 40px;
    margin-bottom: 75px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #000000b2;
}

header h1 {
    color: white;
    text-align: center;
    font-family: "Work Sans", serif;
    font-weight: bold;
    font-size: 3.5em;
    font-variant: small-caps;
} 

header p {
    color: rgba(255, 255, 255, 0.425);
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

main #textosemimagem {
    margin-bottom: 100px;
}

main #textocomimagem-1 {
    position: relative;
    margin-bottom: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: center right;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 7px #000000;
}

main #textocomimagem-2 {
    position: relative;
    margin-bottom: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: center right;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 7px #000000;
}

article {
    display: inline-block;
    border: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0.26);
    padding-bottom: 18px;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: -10px;
    margin-left: 10px;

}

article.segundotextocomimagem {
    display: inline-block;
    border: 0px solid transparent;
    background-color: rgba(0, 0, 0, 0.562);
    padding-bottom: 18px;
    padding-top: 18px;
    padding-right: 10px;
    padding-left: -10px;
    margin-left: 10px;

}

section {
    padding-left: 30px;
}

main p{
    padding: 10px 0px 15px 0px;
    text-align: left;
    
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: #000000;
    color: white;
    padding: 5px 0px 5px 0px;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: white;
    transition: 0.5s;
    background-color: rgba(106, 139, 131, 0.432);
    padding-top: 5px;
    padding-bottom: 5px;
}